NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=replace_me
CLERK_SECRET_KEY=replace_me
NEXT_PUBLIC_STREAM_API_KEY=replace_me
STREAM_SECRET_KEY=replace_me
NEXT_PUBLIC_BASE_URL=http://localhost:3000
APP_URL=http://localhost:3000
NEXT_PUBLIC_SOCKET_SERVER_URL=
EMAIL_USER=
EMAIL_PASS=

MARIADB_DATABASE=meeting_app
MARIADB_USER=ari
MARIADB_PASSWORD=change_me
MARIADB_ROOT_PASSWORD=change_root_me
WEB_PORT=3000
WHISPER_MODEL=base